.breadcrumb li.page {
  text-transform: capitalize;
}

.mc-list-carte .filters .organization {
  display: none;
}

.mc-list-carte .li-actions .edit,
.mc-list-carte .li-actions .detail {
  display: none;
}
[data-orga-role="editor"] #cartes .mc-list-carte .li-actions span,
[data-orga-role="owner"] .mc-list-carte .li-actions span {
  display: inline-block;
}
