.breadcrumb li.page {
  text-transform: capitalize;
}
.breadcrumb li.page.cartes .atlas,
.breadcrumb li.page.atlas .cartes {
  display: none;
}

#atlas .teamLocked,
#atlas [data-role="actions"] {
  display: none;
}

#cartes [data-role="actions"] {
  margin: 1em 0;
}
#cartes [data-role="actions"] .count {
  display: inline-block;
  min-width: 2em;
  text-align: right;
}
#cartes [data-role="actions"] label {
  margin-right: 0.5em;
}

.mc-list-carte .filters .organization,
.mc-list-carte .mc-organization {
  display: none;
}

#atlas .mc-list-carte .li-actions .edit,
.mc-list-carte .li-actions .edit,
.mc-list-carte .li-actions .detail {
  display: none;
}
[data-team-role="editor"] #cartes .mc-list-carte .li-actions span,
[data-team-role="owner"] .mc-list-carte .li-actions span {
  display: inline-block;
}

.mc-list-carte.mc-profile .mc-user {
  display: inline-block;
}

.mc-list.mc-profile .author {
  display: block;
}