.breadcrumb li.page {
  text-transform: capitalize;
}

#atlas .teamLocked {
  display: none;
}

.mc-list-carte .filters .organization,
.mc-list-carte .mc-organization {
  display: none;
}

.mc-list-carte .li-actions .edit,
.mc-list-carte .li-actions .detail {
  display: none;
}
[data-team-role="editor"] #cartes .mc-list-carte .li-actions span,
[data-team-role="owner"] .mc-list-carte .li-actions span {
  display: inline-block;
}

.mc-list-carte.mc-profile .mc-user {
  display: inline-block;
}

.mc-list.mc-profile .author {
  display: block;
}