#home .create {
  text-align: right;
  margin-bottom: 2em;
}
#home article p {
  text-align: initial;
}

#home .mc-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#home .mc-list ul li,
#profil .mc-list ul li {
  position: relative;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: .5em 2.5em .5em 6.5em;
  height: 4em;
  overflow: hidden;
}
#home .mc-list ul li:last-child {
  margin-bottom: 1.5em;
}
#home .mc-list[data-no-invit] h2:first-child {
  display: none;
}

#home ul.teamList {
  margin-bottom: 1.5em;
}

#home ul.joinTeam li {
  background-color: #f4f6f8;
}

#home .mc-list ul li p {
  margin: 0;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block;
  line-height: 1.3em;
  max-height: 2.6em;
  overflow: hidden;
}
#home .mc-list ul li .date {
  float: right;
  line-height: 4em;
}
#home .mc-list ul li .date:before {
  content: "\f017";
  font-family: FontAwesome;
  display: inline-block;
  margin-right: .5em;
}
#home .mc-list ul li:hover {
  background-color: #eee;
}
#home .mc-list ul li img,
#profil .mc-list ul li img {
  position: absolute;
  top: 50%;
  left: 3em;
  max-height: 4.5em;
  max-width: 5em;
  margin-right: .5em;
  transform: translate(-50%, -50%);
}
#profil .mc-list ul li img {
  max-height: unset;
}

#home input[type="search"] {
  width: 100%;
  padding-left: 2em;
  margin-bottom: 1em;
}
#home [data-nosearch="true"] .fi-search,
#home input[type="search"][aria-hidden="true"] {
  display: none;
}

#home .content .fi-search {
  position: absolute;
  color: #999;
  padding: .5rem .5em;
}
#home ul li[data-hidden] {
  display: none;
}

.mc-list ul li .role {
  height: 4em;
  width: 0;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}
.mc-list .role:before {
  content: '\ea56';
  font-family: font-ign;
  position: absolute;
  top: 50%;
  right: .5em;
  transform: translateY(-50%);
}
.mc-list .role_owner:before {
  content: '\e919';
}
.mc-list .role_editor:before {
  content: '\ea48';
}

.mc-list li.selected {
  background-color: #e1eefd!important;
}
.mc-list li.locked {
  background-image: repeating-linear-gradient(
    45deg,rgba(244, 86, 72, .5),rgba(244, 86, 72, .5) 10px, transparent 10px,transparent 20px
  );
  box-shadow: inset 0 0 0 .25em #f45648 ;
}
.mc-list li.locked:before {
  content: "\f023";
  font-family: fontawesome;
  font-size: 2em;
  margin-right: .5em;
}
.mc-list li.locked:after {
  content: "bloquée";
  background-color: #f45648;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: .85em;
  padding: 0 .5em;
}

.ol-ext-dialog.create-team form {
  width: 30em;
}
.ol-ext-dialog.create-team input[type="text"] {
  width: 100%;
}

article.danger {
  background-image: repeating-linear-gradient(
    45deg,rgba(241, 131, 69, .2),rgba(241, 131, 69, .2) 10px,#eee 10px,#eee 20px
  );
  border: 2px solid rgba(241, 131, 69, 1);
}

.ol-ext-dialog.activate-member img.logo {
  max-width: 5em;
  float: left;
  margin-right: .5em;
}
.ol-ext-dialog.activate-member .ol-content > div > div:first-child {
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #999;
}
