#home .create {
  text-align: right;
  margin-bottom: 1em;
}
#home p {
  text-align: initial;
}

.mc-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mc-list ul li {
  position: relative;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: .5em 2.5em .5em 6.5em;
}
.mc-list ul li:hover {
  background-color: #eee;
}
.mc-list ul li img {
  position: absolute;
  top: 50%;
  left: 3em;
  max-height: 2em;
  max-width: 5em;
  margin-right: .5em;
  transform: translate(-50%, -50%);
}

.mc-list .role:before {
  content: '\ea56';
  font-family: font-ign;
  position: absolute;
  top: 50%;
  right: .5em;
  transform: translateY(-50%);
}
.mc-list .role_owner:before {
  content: '\e919';
}
.mc-list .role_editor:before {
  content: '\ea48';
}

.mc-list li.selected {
  background-color: #e1eefd!important;
}

.ol-ext-dialog.create-orga form {
  width: 30em;
}
.ol-ext-dialog.create-orga input[type="text"] {
  width: 100%;
}

article.danger {
  background-image: repeating-linear-gradient(
    45deg,rgba(241, 131, 69, .2),rgba(241, 131, 69, .2) 10px,#eee 10px,#eee 20px
  );
  border: 2px solid rgba(241, 131, 69, 1);
}