#detail .breadcrumb .cartes {
  text-transform: capitalize;
}

#detail .actions {
  text-align: right;
}
#detail .wrapper {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr;
}
#detail iframe {
  border: 1px solid #999;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#detail .informations {
  background-color: #3993f3;
  padding: 3rem;
  min-height: 40rem;
  color: #fff;
}
#detail .informations img {
  max-width: 20em;
  max-height: 10em;
  display: block;
  margin: auto;
}
#detail .informations .invalid {
  border: 1px solid #307ccd;
  background-color: #fff;
  color: red;
  padding: 1rem;
  display: none;
}
#detail[data-invalid] .informations .invalid {
  display: block;
}

#detail .informations [data-attr=description] {
  background-color: #fff;
  color: #091625;
  padding: 1rem;
}
#detail .informations [data-attr=imh_url] {
  max-width: 100%;
  max-height: 8em;
}
#detail td {
  vertical-align: top;
}
#detail td:first-child {
  min-width: min(20vw, 15em);
}
#detail button.edit_author {
  display: block;
  min-width: unset;
  padding: .5em 1em;
  margin: .5em 0;
  line-height: normal;
  display: none;
}
[data-team-role="owner"] #detail button.edit_author {
  display: block;
}

.ol-ext-dialog.update-author form {
  width: 30em;
  overflow: visible;
}
.ol-ext-dialog.update-author input[type="search"] {
  width: 100%;
}
.ol-ext-dialog.update-author .mc-list ul {
  border-top: 1px solid #eee;
  margin-top: .5em;
}
.ol-ext-dialog.update-author .mc-list ul li {
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  padding: .5em 1em;
  position: relative;
  overflow: hidden;
  padding-left: 4.5em;
  line-height: 1.5em;
  border-bottom: 1px solid #eee;
}
.ol-ext-dialog.update-author .mc-list ul li img {
  max-width: 3em;
  max-height: 2.5em;
  position: absolute;
  top: 50%;
  left: 2em;
  transform: translate(-50%, -50%);
}

.ol-ext-dialog.mc-save-map [data-attr="share"] {
  display: none;
}

