#medias .used-space{
  float:right;
}

#medias .used-space .progress-bar-border{
  border: 1px solid #000;
  overflow: hidden;
}

#medias .used-space .progress-bar-border .progress-bar-fill{
  height:24px;
  background-color: #3993f3;
}

/* Just for owner */
#medias .mc-list-head,
#medias .mc-list-media .mc-ul label.ol-ext-check,
#medias .mc-list-media .li-actions {
  display: none;
}
[data-team-role="owner"] #medias .mc-list-head,
[data-team-role="owner"] #medias .mc-list-media .mc-ul label.ol-ext-check,
[data-team-role="owner"] #medias .mc-list-media .li-actions {
  display: block;
}