body .connected {
  display: none;
}
body[data-connected] .connected {
  display: block;
}
body[data-connected] .disconnected {
  display: none;
}
[data-role="content"] {
  max-width: 130rem;
  margin: auto;
}

[data-role="content"] .teamLocked {
  display: none;
  background-image: repeating-linear-gradient(45deg, #f4564833, #f4564833 10px, #eee 10px 20px);
  border: 2px solid #f45648;
  padding: 1em;
  margin-bottom: 1em;
}
[data-role="content"] .teamLocked:before {
  content: "\f071";
  font-family: FontAwesome;
  color: #f45648;
  font-size: 3em;
  float: left;
  line-height: 1em;
  margin-right: .25em;
  position: relative;
  top: -.25em
}

[data-role="content"] [data-locked] .teamLocked {
  display: block;
}

.connected .loading {
  position: relative;
  pointer-events: none;
  opacity: .7;
  background-image: repeating-linear-gradient(45deg,
    rgba(0,0,0,.1),
    rgba(0,0,0,.1) 10px,
    transparent 10px,
    transparent 20px
  );
}

.connected .loading:before {
  content: "\f110";
  font-family: FontAwesome;
  position: absolute;
  top: -.5em;
  right: 1em;
  font-size: 2em;
  animation: fa-spin 1s infinite steps(8);
}
.author-list .loading:before {
  display: none;
}

li[data-inactive] {
  background-image: repeating-linear-gradient(45deg,
    rgba(0,0,0,.1),
    rgba(0,0,0,.1) 10px,
    transparent 10px,
    transparent 20px
  );
}
li[data-inactive]:before {
  content: "Membre inactif";
  color: #fff;
  z-index: 1;
  background-color: #f18345;
  padding: 0 .5em;
  font-size: .8em;
  position: absolute;
  top: 0;
  right: 0;  
  line-height: 1.4em;
}
